a,
h1,
h2,
h3,
h4,
h5,
input,
p {
    color: #424242;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style-type: none;
}

.row {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto;
}

@media screen and (min-width: 40em) {
    .row {
        grid-template-columns: 1fr 1fr;
    }
}

.data-table-row {
    display: table-row;
}
.data-table-row > td {
    padding-block: 1rem;
    border-bottom: 1px solid rgb(233, 233, 233);
}
.data-table-row > td:first-of-type {
    padding-left: 1rem;
}
.data-table-row:hover {
    background-color: #e3f2fd;
}

.d-grid {
    display: grid;
    height: 100%;
}

.chip {
    justify-self: start;
    margin-top: auto;
    background-color: #e2e2e2;
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
}

.col-4 {
    grid-template-columns: 1fr;

    @media (min-width: 40em) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 60em) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 1.25rem;
}
.gap-3 {
    gap: 1.5rem;
}
.gap-4 {
    gap: 2rem;
}
.gap-5 {
    gap: 2.75rem;
}
